<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch items-start justify-start">
      <div class="flex self-stretch flex-col space-y-8 items-start justify-start px-2.5 pt-6 pb-2.5 bg-blueGray-800">
        <div class="flex space-x-3.5 items-center justify-center px-4">
          <div class="flex justify-center">
            <div class="flex items-start justify-start p-2 bg-sky-500 rounded-lg">
              <div />
            </div>
          </div>
          <div class="text-2xl font-extrabold text-white">Recruitment</div>
        </div>
        <div class="flex flex-col items-start justify-start">
          <div class="flex space-x-2 items-center justify-center px-4 py-4">
            <div class="flex items-start justify-start">
              <div />
            </div>
            <div class="text-lg font-medium text-blueGray-300">Dashboard</div>
          </div>
          <div class="flex items-center justify-center px-4 py-2.5">
            <div class="text-xs font-medium text-sky-400">Pengaturan</div>
          </div>
          <div class="flex space-x-2 items-center justify-center px-4 py-4 bg-blue-700 rounded-lg">
            <div class="flex items-start justify-start">
              <div />
            </div>
            <div class="text-lg font-medium text-white">Departemen</div>
          </div>
          <div class="flex space-x-2 items-center justify-center px-4 py-4">
            <div class="flex items-start justify-start">
              <div />
            </div>
            <div class="text-lg font-medium text-blueGray-300">Alamat</div>
          </div>
          <div class="flex space-x-2 items-center justify-center px-4 py-4">
            <div class="flex items-start justify-start">
              <div />
            </div>
            <div class="text-lg font-medium text-blueGray-300">
              Data Lowongan
            </div>
          </div>
          <div class="flex space-x-2 items-center justify-center px-4 py-4">
            <div class="flex items-start justify-start">
              <div />
            </div>
            <div class="text-lg font-medium text-blueGray-300">
              Data Pelamar
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-blueGray-50">
        <div class="flex items-center justify-between px-8 py-5 bg-white shadow">
          <div class="text-2xl font-medium text-coolGray-800">Departemen</div>
          <div class="flex space-x-3.5 items-center justify-center">
            <div
              class="rounded-full"
              style="background-image: url('/fimgs/bg-52d501f666fbce31cf28022e786ce42ba987ab69');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-base font-bold">Erza Miller</div>
            <div />
          </div>
        </div>
        <div class="flex flex-1 self-stretch flex-col items-start justify-start px-8 py-10">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-5 bg-white shadow rounded-lg">
            <div class="flex flex-col items-start justify-center">
              <div class="text-2xl font-medium leading-9 text-coolGray-800">
                Tambah Departemen
              </div>
            </div>
            <div class="flex flex-col space-y-1 items-start justify-start">
              <div class="flex items-center justify-center">
                <div class="flex items-center justify-start">
                  <div class="text-xs leading-3 text-coolGray-900">
                    Nama Departemen
                  </div>
                </div>
                <div class="flex items-center justify-start pl-6 bg-white border border-coolGray-300">
                  <div class="text-xs leading-3 text-coolGray-900">
                    ex. Information Technology
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-center">
                <div class="flex items-center justify-start">
                  <div class="text-xs leading-3 text-coolGray-900">Lokasi</div>
                </div>
                <div class="flex items-center justify-start pl-6 bg-white border border-coolGray-300">
                  <div class="text-xs leading-3 text-coolGray-900">
                    ex. Jl. Semolowaru No.26, Sukolilo, Surabaya
                  </div>
                </div>
              </div>
            </div>
            <div class="flex space-x-5 items-start justify-start">
              <div class="flex items-center justify-center p-2.5 bg-blue-500 rounded-md">
                <div class="text-base leading-normal text-center text-coolGray-50">
                  Simpan
                </div>
              </div>
              <div class="flex items-center justify-center p-2.5 bg-red-500 rounded-md">
                <div class="text-base leading-normal text-center text-coolGray-50">
                  Batal
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>