<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex items-start justify-start bg-white">
    <div class="flex flex-1 self-stretch items-start justify-start">
      <img
        src="/fimgs/1637_7713.x1.svg"
        class="flex self-stretch flex-col space-y-8 items-start justify-start px-2.5 pt-6 pb-2.5 bg-blueGray-800"
        style="width: 265px; min-width: 265px; max-width: 265px; height: 1024px; min-height: 1024px; max-height: 1024px;"
      />
      <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-blueGray-50">
        <img
          src="/fimgs/1637_7723.x1.svg"
          class="flex items-center justify-between px-8 py-5 bg-white shadow"
          style="width: 1175px; min-width: 1175px; max-width: 1175px; height: 80px; min-height: 80px; max-height: 80px;"
        />
        <div class="flex flex-1 self-stretch flex-col items-start justify-start px-8 py-10">
          <img
            src="/fimgs/1637_7725.x1.svg"
            class="flex self-stretch flex-col space-y-4 items-start justify-center p-5 bg-white shadow"
            style="width: 1115px; min-width: 1115px; max-width: 1115px; height: 573px; min-height: 573px; max-height: 573px;"
          />
        </div>
      </div>
    </div>
  </div>
</>