<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col space-y-12 items-center justify-center p-0.5 bg-blueGray-800 rounded-tl-md rounded-tr-md rounded-br-md">
    <div class="flex items-center justify-between">
      <div class="text-base font-medium leading-normal text-right text-coolGray-100">
        Hapus Lowongan
      </div>
      <div />
    </div>
    <div class="flex flex-col items-center justify-center">
      <div class="flex flex-col items-center justify-center p-5">
        <div class="text-sm font-semibold leading-tight text-center text-coolGray-200">
          Apakah Anda Yakin <br />
          Ingin Menghapus Data Tersebut
        </div>
      </div>
      <div class="flex space-x-2.5 items-center justify-center p-5">
        <div class="flex items-center justify-center p-2.5 bg-red-500 rounded-md">
          <button class="text-xs leading-3 text-center text-coolGray-100">
            Cancel
          </button>
        </div>
        <div class="flex items-center justify-center p-2.5 bg-blue-600 rounded-md">
          <button class="text-xs leading-3 text-center text-coolGray-100">
            Simpan
          </button>
        </div>
      </div>
    </div>
  </div>
</>