<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-1 self-stretch items-start justify-start">
    <div class="flex self-stretch flex-col space-y-8 items-start justify-start px-2.5 pt-6 pb-2.5 bg-blueGray-800">
      <div class="flex items-center justify-center px-4">
        <div class="flex space-x-3.5 justify-center">
          <div class="flex justify-center">
            <div class="flex items-start justify-start p-2 bg-sky-500 rounded-lg">
              <div />
            </div>
          </div>
          <div class="text-2xl font-extrabold text-white">Recruitment</div>
        </div>
      </div>
      <div class="flex flex-col items-start justify-start">
        <div class="flex space-x-2 items-center justify-center px-4 py-4 bg-blue-700 rounded-lg">
          <div class="flex items-start justify-start">
            <div />
          </div>
          <a href="http://localhost:3200/dashboard">
            <button class={`text-lg font-medium text-white`}>Dashboard</button>
          </a>
        </div>
        <div class="flex items-center justify-center px-4 py-2.5">
          <div class="text-xs font-medium text-sky-400">Pengaturan</div>
        </div>
        <div class="flex space-x-2 items-center justify-center px-4 py-4">
          <div class="flex items-start justify-start">
            <div />
          </div>
          <a href="http://localhost:3200/master-data/departemen">
            <button class={`text-lg font-medium text-blueGray-300`}>
              Departemen
            </button>
          </a>
        </div>
        <div class="flex space-x-2 items-center justify-center px-4 py-4">
          <div class="flex items-start justify-start">
            <div />
          </div>
          <a href="http://localhost:3200/master-data/alamat">
            <button class={`text-lg font-medium text-blueGray-300`}>
              Alamat
            </button>
          </a>
        </div>
        <div class="flex space-x-2 items-center justify-center px-4 py-4">
          <div class="flex items-start justify-start">
            <div />
          </div>
          <a href="http://localhost:3200/master-data/lowongan">
            <button class={`text-lg font-medium text-blueGray-300`}>
              Data Lowongan
            </button>
          </a>
        </div>
        <div class="flex space-x-2 items-center justify-center px-4 py-4">
          <div class="flex items-start justify-start">
            <div />
          </div>
          <a href="http://localhost:3200/master-data/pelamar">
            <button class={`text-lg font-medium text-blueGray-300`}>
              Data Pelamar
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-blueGray-50">
      <div class="flex items-center justify-between px-8 py-5 bg-white shadow">
        <div class="text-2xl font-medium text-coolGray-800">Dashboard</div>
        <div class="flex space-x-3.5 items-center justify-center">
          <div
            class="rounded-full"
            style="background-image: url('/fimgs/bg-52d501f666fbce31cf28022e786ce42ba987ab69');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="text-base font-bold">Erza Miller</div>
          <div />
        </div>
      </div>
      <div class="flex flex-1 self-stretch flex-col space-y-8 items-start justify-start px-8 py-10">
        <div class="flex self-stretch items-start justify-between">
          <div class="flex space-x-4 items-center justify-start p-3.5 bg-white shadow rounded-lg">
            <div class="flex justify-center">
              <div class="flex items-start justify-start p-3 bg-emerald-400 rounded-lg">
                <div class="flex items-start justify-start">
                  <div />
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start">
              <div class="text-base text-gray-400">Lowowngan Aktif</div>
              <div class="text-4xl text-coolGray-800">115K</div>
            </div>
          </div>
          <div class="flex space-x-4 items-center justify-start p-3.5 bg-white shadow rounded-lg">
            <div class="flex justify-center">
              <div class="flex items-start justify-start p-3 bg-sky-100 rounded-lg">
                <div class="flex items-start justify-start">
                  <div />
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start">
              <div class="text-base text-gray-400">Total Pelamar</div>
              <div class="text-4xl text-coolGray-800">115K</div>
            </div>
          </div>
          <div class="flex space-x-4 items-center justify-start p-3.5 bg-white shadow rounded-lg">
            <div class="flex justify-center">
              <div class="flex items-start justify-start p-3 bg-pink-500 rounded-lg">
                <div class="flex items-start justify-start">
                  <div />
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start">
              <div class="text-base text-gray-400">Pelamar Aktif</div>
              <div class="text-4xl text-coolGray-800">115K</div>
            </div>
          </div>
          <div class="flex space-x-4 items-center justify-start p-3.5 bg-white shadow rounded-lg">
            <div class="flex justify-center">
              <div class="flex items-start justify-start p-3 bg-orange-500 rounded-lg">
                <div class="flex items-start justify-start">
                  <div />
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start">
              <div class="text-base text-gray-400">Departemen</div>
              <div class="text-4xl text-coolGray-800">115K</div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start p-3.5 bg-white shadow rounded-lg">
          <div class="flex space-x-2.5 items-center justify-start">
            <div class="flex items-start justify-start">
              <div />
            </div>
            <div class="text-2xl font-medium text-coolGray-800">
              Daftar Pelamar Terkini
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>