<>
  <effect meta={{}} run={async () => {}} />
  <div class={`flex items-start justify-start bg-white`}>
    <div class="flex flex-1 self-stretch items-start justify-start">
      <img src="/fimgs/1714_53251.x1.svg" />
      <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-blueGray-50">
        <img
          src="/fimgs/1719_8683.x1.svg"
          class="flex flex-col items-start justify-start"
          style="width: 1175px; min-width: 1175px; max-width: 1175px; height: 80px; min-height: 80px; max-height: 80px;"
        />
        <div class="flex flex-1 self-stretch flex-col space-y-8 items-start justify-start px-8 py-10">
          <div class="flex self-stretch items-start justify-between">
            <div class="flex space-x-4 items-center justify-start p-3.5 bg-white shadow rounded-lg">
              <img
                src="/fimgs/I1714_53265_1587_6939.x1.svg"
                class="flex justify-center"
                style="width: 64px; min-width: 64px; max-width: 64px; height: 64px; min-height: 64px; max-height: 64px;"
              />
              <div class="flex flex-col items-start justify-start">
                <button class="text-base text-gray-400">Lowongan Aktif</button>
                <div class="text-4xl text-coolGray-800">115K</div>
              </div>
            </div>
            <div class="flex space-x-4 items-center justify-start p-3.5 bg-white shadow rounded-lg">
              <img
                src="/fimgs/I1714_53266_1588_5984.x1.svg"
                class="flex justify-center"
                style="width: 64px; min-width: 64px; max-width: 64px; height: 64px; min-height: 64px; max-height: 64px;"
              />
              <div class="flex flex-col items-start justify-start">
                <button class="text-base text-gray-400">Total Pelamar</button>
                <div class="text-4xl text-coolGray-800">115K</div>
              </div>
            </div>
            <div class="flex space-x-4 items-center justify-start p-3.5 bg-white shadow rounded-lg">
              <img
                src="/fimgs/I1714_53267_1588_6004.x1.svg"
                class="flex justify-center"
                style="width: 64px; min-width: 64px; max-width: 64px; height: 64px; min-height: 64px; max-height: 64px;"
              />
              <div class="flex flex-col items-start justify-start">
                <button class="text-base text-gray-400">Pelamar Aktif</button>
                <div class="text-4xl text-coolGray-800">115K</div>
              </div>
            </div>
            <div class="flex space-x-4 items-center justify-start p-3.5 bg-white shadow rounded-lg">
              <img
                src="/fimgs/I1714_53268_1588_6020.x1.svg"
                class="flex justify-center"
                style="width: 64px; min-width: 64px; max-width: 64px; height: 64px; min-height: 64px; max-height: 64px;"
              />
              <div class="flex flex-col items-start justify-start">
                <button class="text-base text-gray-400">Departemen</button>
                <div class="text-4xl text-coolGray-800">115K</div>
              </div>
            </div>
          </div>
          <button class="flex self-stretch flex-col items-start justify-start p-3.5 bg-white shadow rounded-lg">
            <img
              src="/fimgs/1714_53270.x1.svg"
              class="flex space-x-2.5 items-center justify-start"
              style="width: 310px; min-width: 310px; max-width: 310px; height: 36px; min-height: 36px; max-height: 36px;"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</>